<footer class="site-footer bg-dark text-light d-flex justify-content-center">

    <section class="layout-social py-5">

        <a class="text-light py-2" href="https://twitter.com">
            <i class="layout-icon fab fa-twitter"></i>
        </a>
        <a class="text-light px-2" href="https://facebook.com">
            <i class="layout-icon fab fa-facebook"></i>
        </a>
        <a class="text-light px-2" href="https://linkedin.com">
            <i class="layout-icon fab fa-linkedin"></i>
        </a>
        <a class="text-light px-2" href="https://github.com">
            <i class="layout-icon fab fa-github"></i>
        </a>
        <a class="text-light px-2" href="https://dribbble.com">
            <i class="layout-icon fab fa-dribbble"></i>
        </a>
        <a class="text-light px-2" href="https://www.flickr.com">
            <i class="layout-icon fab fa-flickr"></i>
        </a>
        <a class="text-light px-2" href="https://www.youtube.com">
            <i class="layout-icon fab fa-youtube"></i>
        </a>

    </section>

</footer>