{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ block.super }} - Главная
{% endblock %}

{% block content %}

    <section id="posts">
    <div class="container">
    <div class="row d-flex justify-content-center">
    <div class="col-md-9">
    <div class="card">
    <div class="card-header">
    <h4>Все посты</h4>
    </div>
    <table class="table table-striped">
    <thead class="thead-dark">
    <tr>
    <th>№</th>
    <th class="pl-4">Заголовок</th>
    <th>Тэг</th>
    <th class="pl-5">Дата</th>
    <th class="pl-4">Действие</th>
    </tr>
    </thead>
    <tbody>

        {% for post in posts %}

        <tr>

        <td>{{ forloop.counter }}</td>
        <td>{{ post.title }}</td>
        <td>{{ post.tag }}</td>
        <td>{{ post.date_pub }}</td>
        <td>
        <a href="{{ post.get_absolute_url }}"
           class="btn btn-secondary">
            <i class="fas fa-angle-double-right"></i> Читать пост
        </a>
        </td>
        </tr>

        {% endfor %}

    </tbody>
    </table>
    </div>
    </div>
    </div>
    </div>
    </section>

{% endblock %}







